Alcatel-HighLevelApiWS/SubscriberLineManager/Resources/WSDL/subscriberLineManager_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://pojo.web.api.icc.services.osp.in.alcatel.com/xsd"
           elementFormDefault="qualified"
           targetNamespace="http://pojo.web.api.icc.services.osp.in.alcatel.com/xsd">
 <xs:complexType name="SubscriberLine">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activationDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="commercialOfferSubscriptions" nillable="true"
                                type="ComOfferSubscription"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="commercialOfferSubscriptionsName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="communityMemberShipNames" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="communityMemberShips" nillable="true"
                                type="CommunityMembership"/>
                    <xs:element minOccurs="0" name="companyNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="complexFlag" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="contractHolderFlag" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="contractNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cugList" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dateOfBirthday" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="defaultAccount" nillable="true"
                                type="Account"/>
                    <xs:element minOccurs="0" name="defaultAccountIdentifierLogin" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="defaultComOfferName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="defaultComOfferSubscription" nillable="true"
                                type="ComOfferSubscription"/>
                    <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="externalId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faxNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="friendAndFamilyList" nillable="true"
                                type="FriendAndFamilyList"/>
                    <xs:element minOccurs="0" name="friendsAndFamilyListName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="gender" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="guifield" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="homeZone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="identifierLogin" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="language" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="login" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maritalStatus" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="msid" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="otherAccounts" nillable="true"
                                type="Account"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="otherAccountsIdentifierLogin" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="passportCountry" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="passportNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="passportType" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pinNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="placeOfBirth" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rank" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="sector" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="test_status" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ComOfferSubscription">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="accountLabelList" nillable="true" type="AccountLabel"/>
                    <xs:element minOccurs="0" name="comOfferName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="communityName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="sogSubscriptionList" nillable="true" type="SogSubscription"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AccountLabel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="accountIdentifierLogin" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="community" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberIdentifier" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SogSubscription">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activationDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="communityName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="creationDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="feeAvailableFlag" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="reActivationDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="serviceOfferGroupRef" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="stopDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="suspensionDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="synchronizationChargingDate" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CommunityMembership">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="associations" nillable="true" type="Association"/>
                    <xs:element minOccurs="0" name="communityName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberIdentifier" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Association">
                <xs:sequence>
                    <xs:element minOccurs="0" name="associationTypeName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="clientAssociationType" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nextSubscriberName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="weight" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Account">
                <xs:sequence>
                    <xs:element minOccurs="0" name="accountProfileRef" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="activityBeginDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="activityEndDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="admStatusBlocked" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="admStatusExhausted" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="admStatusInitSelDone" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="admStatusNoMoreCredit" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="admStatusPeriodicFee" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="admStatusPinBlocked" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="admStatusPwBlocked" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="admStatusScratchCardSuspended" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="balance" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="balanceVATVolume" nillable="true" type="xs:long"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="buckets" nillable="true" type="Bucket"/>
                    <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="comOffAssignDate" nillable="true" type="xs:dateTime"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="counters" nillable="true" type="Counter"/>
                    <xs:element minOccurs="0" name="creationDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="cycleStatus" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstCallFlag" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="globalBadPassword" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="globalBadReload" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="globalMaxbadPin" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="guifield" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="identifierLogin" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inactivePeriodEnd" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="information1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="information2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="language" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastCreditReloadDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="lastCreditReloadValue" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="lastCreditUpdateDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="lastFeeUpdate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lscepoolRef" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lstEmergencyDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="marketIndication" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="msid" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="msidType" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="nbBadPasswordAttempt" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="nbBadPinAttempt" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="nbBadReloadAttempt" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="neifHlrBarring" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="nextDateDiscount" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="nextDateFee" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="noVATFlag" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="operatorAccountFlag" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pinNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="prepaidFlag" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="sepGroupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalCreditLoss" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="validityPeriodBegin" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="validityPeriodEnd" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="warningLimActPerDone1" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="warningLimActPerDone2" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="warningLimInactPerDone1" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="warningLimInactPerDone2" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="warningLowCreditDone1" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="warningLowCreditDone2" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="welcomeDone" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Bucket">
                <xs:sequence>
                    <xs:element minOccurs="0" name="creationDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="glCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="initialCost" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="initialQuantity" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="limitDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="remainingUnits" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="rowIdentifier" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="usageLabelRef" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="validity" nillable="true" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Counter">
                <xs:sequence>
                    <xs:element minOccurs="0" name="currentValue" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="periodicDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="previousValue" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="usageRef" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FriendAndFamilyList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="fnfElementList" nillable="true"
                                type="FriendAndFamilyElement"/>
                    <xs:element minOccurs="0" name="fnfListIdentifer" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FriendAndFamilyElement">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fnfElementIdentifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fnfTypeName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ReturnInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberIdentifier">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ceSepGroupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="communityId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="platformName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceRetailerName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberLineId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberLineIdType" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="validityDate" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>