Alcatel-HighLevelApiWS/SubscriberLineManager/Resources/WSDL/wSHighLevelAPIException.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://web.api.icc.services.osp.in.alcatel.com/xsd"
           elementFormDefault="qualified"
           targetNamespace="http://web.api.icc.services.osp.in.alcatel.com/xsd">
   
    <xs:element name="WSHighLevelAPIException">
        <xs:complexType>
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="notification" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
    </xs:element> 
</xs:schema>