CurrentAccount/LDAPAccountValidator/Resources/WSDLs/LDAPValidatorXSD.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://ws.validator.nextel.com.ar/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.validator.nextel.com.ar/">

<xs:element name="validateLDAPAccount" type="tns:validateLDAPAccount"/>

<xs:element name="validateLDAPAccountResponse" type="tns:validateLDAPAccountResponse"/>

<xs:complexType name="validateLDAPAccount">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateLDAPAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:response" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="response">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>