PortalCautivo/Resources/WSDLs/BucketManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://implementation.web.api.icc.services.osp.in.alcatel.com" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://web.api.icc.services.osp.in.alcatel.com/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns2="http://pojo.web.api.icc.services.osp.in.alcatel.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://implementation.web.api.icc.services.osp.in.alcatel.com">
    <wsdl:documentation>BucketManager</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://implementation.web.api.icc.services.osp.in.alcatel.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://implementation.web.api.icc.services.osp.in.alcatel.com">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="WSHighLevelAPIException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="WSHighLevelAPIException" nillable="true" type="ns1:WSHighLevelAPIException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="create">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idType" type="xs:int"/>
                        <xs:element minOccurs="0" name="bucket" nillable="true" type="ns2:Bucket"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns2:Bucket"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="get">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="bucketRowId" type="xs:long"/>
                        <xs:element minOccurs="0" name="accountIdType" type="xs:int"/>
                        <xs:element minOccurs="0" name="bundleName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loadAlgorithm" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns2:Bucket"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modify">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idType" type="xs:int"/>
                        <xs:element minOccurs="0" name="bucket" nillable="true" type="ns2:Bucket"/>
                        <xs:element minOccurs="0" name="loadAlgorithm" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns2:Bucket"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="list">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bucket" nillable="true" type="ns2:Bucket"/>
                        <xs:element minOccurs="0" name="identifierLogin" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns2:Bucket"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="fastCreate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="accountIdType" type="xs:int"/>
                        <xs:element minOccurs="0" name="bucket" nillable="true" type="ns2:Bucket"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="fastCreateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns2:ReturnInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeBucket">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bucketId" nillable="true" type="ns2:BucketIdentifier"/>
                        <xs:element minOccurs="0" name="bundleName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loadAlgorithm" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeBucketResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns2:ReturnInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="adjust">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bucketRowId" type="xs:long"/>
                        <xs:element minOccurs="0" name="identifierLogin" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="bundleName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loadAlgorithm" type="xs:int"/>
                        <xs:element minOccurs="0" name="remainingUnits" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="stopDate" nillable="true" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="glCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="adjustResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="remove">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bucketRowId" type="xs:long"/>
                        <xs:element minOccurs="0" name="identifierLogin" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="bundleName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loadAlgorithm" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="help">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="helpResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax25="http://web.api.icc.services.osp.in.alcatel.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://web.api.icc.services.osp.in.alcatel.com/xsd">
            <xs:complexType name="WSHighLevelAPIException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="notification" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax26="http://pojo.web.api.icc.services.osp.in.alcatel.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.web.api.icc.services.osp.in.alcatel.com/xsd">
            <xs:complexType name="Bucket">
                <xs:sequence>
                    <xs:element minOccurs="0" name="creationDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="glCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="initialCost" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="initialQuantity" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="limitDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="remainingUnits" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="rowIdentifier" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="usageLabelRef" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="validity" nillable="true" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ReturnInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BucketIdentifier">
                <xs:sequence>
                    <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ceSepGroupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="platformName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rowIdentifier" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="serviceRetailerName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="adjustRequest">
        <wsdl:part name="parameters" element="ns0:adjust"/>
    </wsdl:message>
    <wsdl:message name="adjustResponse">
        <wsdl:part name="parameters" element="ns0:adjustResponse"/>
    </wsdl:message>
    <wsdl:message name="WSHighLevelAPIException">
        <wsdl:part name="parameters" element="ns0:WSHighLevelAPIException"/>
    </wsdl:message>
    <wsdl:message name="listRequest">
        <wsdl:part name="parameters" element="ns0:list"/>
    </wsdl:message>
    <wsdl:message name="listResponse">
        <wsdl:part name="parameters" element="ns0:listResponse"/>
    </wsdl:message>
    <wsdl:message name="modifyRequest">
        <wsdl:part name="parameters" element="ns0:modify"/>
    </wsdl:message>
    <wsdl:message name="modifyResponse">
        <wsdl:part name="parameters" element="ns0:modifyResponse"/>
    </wsdl:message>
    <wsdl:message name="createRequest">
        <wsdl:part name="parameters" element="ns0:create"/>
    </wsdl:message>
    <wsdl:message name="createResponse">
        <wsdl:part name="parameters" element="ns0:createResponse"/>
    </wsdl:message>
    <wsdl:message name="removeBucketRequest">
        <wsdl:part name="parameters" element="ns0:removeBucket"/>
    </wsdl:message>
    <wsdl:message name="removeBucketResponse">
        <wsdl:part name="parameters" element="ns0:removeBucketResponse"/>
    </wsdl:message>
    <wsdl:message name="getRequest">
        <wsdl:part name="parameters" element="ns0:get"/>
    </wsdl:message>
    <wsdl:message name="getResponse">
        <wsdl:part name="parameters" element="ns0:getResponse"/>
    </wsdl:message>
    <wsdl:message name="fastCreateRequest">
        <wsdl:part name="parameters" element="ns0:fastCreate"/>
    </wsdl:message>
    <wsdl:message name="fastCreateResponse">
        <wsdl:part name="parameters" element="ns0:fastCreateResponse"/>
    </wsdl:message>
    <wsdl:message name="removeRequest">
        <wsdl:part name="parameters" element="ns0:remove"/>
    </wsdl:message>
    <wsdl:message name="removeResponse">
        <wsdl:part name="parameters" element="ns0:removeResponse"/>
    </wsdl:message>
    <wsdl:message name="helpRequest">
        <wsdl:part name="parameters" element="ns0:help"/>
    </wsdl:message>
    <wsdl:message name="helpResponse">
        <wsdl:part name="parameters" element="ns0:helpResponse"/>
    </wsdl:message>
    <wsdl:portType name="BucketManagerPortType">
        <wsdl:operation name="adjust">
            <wsdl:input message="ns0:adjustRequest" wsaw:Action="urn:adjust"/>
            <wsdl:output message="ns0:adjustResponse" wsaw:Action="urn:adjustResponse"/>
            <wsdl:fault message="ns0:WSHighLevelAPIException" name="WSHighLevelAPIException" wsaw:Action="urn:adjustWSHighLevelAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="list">
            <wsdl:input message="ns0:listRequest" wsaw:Action="urn:list"/>
            <wsdl:output message="ns0:listResponse" wsaw:Action="urn:listResponse"/>
            <wsdl:fault message="ns0:WSHighLevelAPIException" name="WSHighLevelAPIException" wsaw:Action="urn:listWSHighLevelAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="modify">
            <wsdl:input message="ns0:modifyRequest" wsaw:Action="urn:modify"/>
            <wsdl:output message="ns0:modifyResponse" wsaw:Action="urn:modifyResponse"/>
            <wsdl:fault message="ns0:WSHighLevelAPIException" name="WSHighLevelAPIException" wsaw:Action="urn:modifyWSHighLevelAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="create">
            <wsdl:input message="ns0:createRequest" wsaw:Action="urn:create"/>
            <wsdl:output message="ns0:createResponse" wsaw:Action="urn:createResponse"/>
            <wsdl:fault message="ns0:WSHighLevelAPIException" name="WSHighLevelAPIException" wsaw:Action="urn:createWSHighLevelAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="removeBucket">
            <wsdl:input message="ns0:removeBucketRequest" wsaw:Action="urn:removeBucket"/>
            <wsdl:output message="ns0:removeBucketResponse" wsaw:Action="urn:removeBucketResponse"/>
            <wsdl:fault message="ns0:WSHighLevelAPIException" name="WSHighLevelAPIException" wsaw:Action="urn:removeBucketWSHighLevelAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="get">
            <wsdl:input message="ns0:getRequest" wsaw:Action="urn:get"/>
            <wsdl:output message="ns0:getResponse" wsaw:Action="urn:getResponse"/>
            <wsdl:fault message="ns0:WSHighLevelAPIException" name="WSHighLevelAPIException" wsaw:Action="urn:getWSHighLevelAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="fastCreate">
            <wsdl:input message="ns0:fastCreateRequest" wsaw:Action="urn:fastCreate"/>
            <wsdl:output message="ns0:fastCreateResponse" wsaw:Action="urn:fastCreateResponse"/>
            <wsdl:fault message="ns0:WSHighLevelAPIException" name="WSHighLevelAPIException" wsaw:Action="urn:fastCreateWSHighLevelAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="remove">
            <wsdl:input message="ns0:removeRequest" wsaw:Action="urn:remove"/>
            <wsdl:output message="ns0:removeResponse" wsaw:Action="urn:removeResponse"/>
            <wsdl:fault message="ns0:WSHighLevelAPIException" name="WSHighLevelAPIException" wsaw:Action="urn:removeWSHighLevelAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="help">
            <wsdl:input message="ns0:helpRequest" wsaw:Action="urn:help"/>
            <wsdl:output message="ns0:helpResponse" wsaw:Action="urn:helpResponse"/>
            <wsdl:fault message="ns0:WSHighLevelAPIException" name="WSHighLevelAPIException" wsaw:Action="urn:helpWSHighLevelAPIException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BucketManagerSOAP11Binding" type="ns0:BucketManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="adjust">
            <soap:operation soapAction="urn:adjust" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSHighLevelAPIException">
                <soap:fault use="literal" name="WSHighLevelAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="list">
            <soap:operation soapAction="urn:list" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSHighLevelAPIException">
                <soap:fault use="literal" name="WSHighLevelAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modify">
            <soap:operation soapAction="urn:modify" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSHighLevelAPIException">
                <soap:fault use="literal" name="WSHighLevelAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="create">
            <soap:operation soapAction="urn:create" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSHighLevelAPIException">
                <soap:fault use="literal" name="WSHighLevelAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeBucket">
            <soap:operation soapAction="urn:removeBucket" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSHighLevelAPIException">
                <soap:fault use="literal" name="WSHighLevelAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="get">
            <soap:operation soapAction="urn:get" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSHighLevelAPIException">
                <soap:fault use="literal" name="WSHighLevelAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="fastCreate">
            <soap:operation soapAction="urn:fastCreate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSHighLevelAPIException">
                <soap:fault use="literal" name="WSHighLevelAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="remove">
            <soap:operation soapAction="urn:remove" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSHighLevelAPIException">
                <soap:fault use="literal" name="WSHighLevelAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="help">
            <soap:operation soapAction="urn:help" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSHighLevelAPIException">
                <soap:fault use="literal" name="WSHighLevelAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BucketManager">
        <wsdl:port name="BucketManagerSOAP11port_http" binding="ns0:BucketManagerSOAP11Binding">
            <soap:address location="http://10.96.74.15:8081/HighLevelApiWS-1.3/services/BucketManager"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>