PortalCautivo/Resources/WSDLs/CaptivePortalService.wsdl

<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="http://captive.portal.ws.ncl.nii.com" name="CaptivePortalService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://captive.portal.ws.ncl.nii.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://captive.portal.ws.ncl.nii.com" schemaLocation="CaptivePortalService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="setNextelActiveProduct">
    <part name="parameters" element="tns:setNextelActiveProduct"/>
  </message>
  <message name="setNextelActiveProductResponse">
    <part name="parameters" element="tns:setNextelActiveProductResponse"/>
  </message>
  <portType name="CaptivePortal">
    <operation name="setNextelActiveProduct">
      <input message="tns:setNextelActiveProduct"/>
      <output message="tns:setNextelActiveProductResponse"/>
    </operation>
    <operation name="getNextelCustomerInfo">
      <input message="tns:getNextelCustomerInfo"/>
      <output message="tns:getNextelCustomerInfoResponse"/>
    </operation>
    <operation name="isNextelUserValidate">
      <input message="tns:isNextelUserValidate"/>
      <output message="tns:isNextelUserValidateResponse"/>
    </operation>
    <operation name="getNextelProductCatalog">
      <input message="tns:getNextelProductCatalog"/>
      <output message="tns:getNextelProductCatalogResponse"/>
    </operation>
    <operation name="getNextQryHistProd">
      <input message="tns:getNextQryHistProd"/>
      <output message="tns:getNextQryHistProdResponse"/>
    </operation>
    <operation name="setNextDeactiveProd">
      <input message="tns:setNextDeactiveProd"/>
      <output message="tns:setNextDeactiveProdResponse"/>
    </operation>
  </portType>
  <binding name="CaptivePortalPortBinding" type="tns:CaptivePortal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="setNextelActiveProduct">
      <soap:operation soapAction="http://captivePortal/setCaptivePortal"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getNextelCustomerInfo">
      <soap:operation/>
      <input>
        <soap:body/>
      </input>
      <output>
        <soap:body/>
      </output>
    </operation>
    <operation name="isNextelUserValidate">
      <soap:operation/>
      <input>
        <soap:body/>
      </input>
      <output>
        <soap:body/>
      </output>
    </operation>
    <operation name="getNextelProductCatalog">
      <soap:operation/>
      <input>
        <soap:body/>
      </input>
      <output>
        <soap:body/>
      </output>
    </operation>
    <operation name="getNextQryHistProd">
      <soap:operation/>
      <input>
        <soap:body/>
      </input>
      <output>
        <soap:body/>
      </output>
    </operation>
    <operation name="setNextDeactiveProd">
      <soap:operation/>
      <input>
        <soap:body/>
      </input>
      <output>
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="CaptivePortalService">
    <port name="CaptivePortalPort" binding="tns:CaptivePortalPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
  <message name="getNextelCustomerInfo">
    <part name="part" element="tns:getNextelCustomerInfo"/>
  </message>
  <message name="getNextelCustomerInfoResponse">
    <part name="part" element="tns:getNextelCustomerInfoResponse"/>
  </message>
  <message name="isNextelUserValidate">
    <part name="part" element="tns:isNextelUserValidate"/>
  </message>
  <message name="isNextelUserValidateResponse">
    <part name="part" element="tns:isNextelUserValidateResponse"/>
  </message>
  <message name="getNextelProductCatalog">
    <part name="part" element="tns:getNextelProductCatalog"/>
  </message>
  <message name="getNextelProductCatalogResponse">
    <part name="part" element="tns:getNextelProductCatalogResponse"/>
  </message>
  <message name="getNextQryHistProd">
    <part name="part" element="tns:getNextQryHistProd"/>
  </message>
  <message name="getNextQryHistProdResponse">
    <part name="part" element="tns:getNextQryHistProdResponse"/>
  </message>
  <message name="setNextDeactiveProd">
    <part name="part" element="tns:setNextDeactiveProd"/>
  </message>
  <message name="setNextDeactiveProdResponse">
    <part name="part" element="tns:setNextDeactiveProdResponse"/>
  </message>
</definitions>