WOM.NEG.WOMVOLUTION.PROXY/SRV.1234567.lTQueryUnitTotalExtendidaFullWS_1.0/Specifications/PrepaidWaveService.wsdl

<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="http://prepaid.wave.ws.ncl.nii.com" name="LTAgregaPromoAbonadoService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://prepaid.wave.ws.ncl.nii.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://prepaid.wave.ws.ncl.nii.com" schemaLocation="PrepaidWaveService.xsd"/>
    </xsd:schema>
  </types>
  <message name="queryBalanceTotalExtendido">
    <part name="parameters" element="tns:balanceTotalExtendido"/>
  </message>
  <message name="queryBalanceTotalExtendidoResponse">
    <part name="parameters" element="tns:balanceTotalExtendidoResponse"/>
  </message>
  <message name="queryUnitTotalExtendida">
    <part name="parameters" element="tns:unitTotalExtendida"/>
  </message>
  <message name="queryUnitTotalExtendidaResponse">
    <part name="parameters" element="tns:unitTotalExtendidaResponse"/>
  </message>
  
  <message name="queryUnitTotalExtendida4G">
    <part name="parameters" element="tns:unitTotalExtendida4G"/>
  </message>
  <message name="queryUnitTotalExtendida4GResponse">
    <part name="parameters" element="tns:unitTotalExtendida4GResponse"/>
  </message>
  
  <message name="qryBolsasCompraPromoLinea">
    <part name="parameters" element="tns:bolsasCompraPromoLinea"/>
  </message>
  <message name="qryBolsasCompraPromoLineaResponse">
    <part name="parameters" element="tns:bolsasCompraPromoLineaResponse"/>
  </message>
  
  <message name="queryConsumosICCAbonado">
    <part name="parameters" element="tns:consumosICCAbonado"/>
  </message>
  <message name="queryConsumosICCAbonadoResponse">
    <part name="parameters" element="tns:consumosICCAbonadoResponse"/>
  </message>
  
  <message name="cambioPlan">
    <part name="parameters" element="tns:cambioPlan"/>
  </message>
  <message name="cambioPlanResponse">
    <part name="parameters" element="tns:cambioPlanResponse"/>
  </message>
  
  <message name="queryUnitTotalExtendidaFull">
    <part name="parameters" element="tns:unitTotalExtendidaFull"/>
  </message>
  <message name="queryUnitTotalExtendidaFullResponse">
    <part name="parameters" element="tns:unitTotalExtendidaFullResponse"/>
  </message>
      
  <portType name="PrepaidWavePort">
    <operation name="lTQueryBalanceTotalExtendidaWS">
      <input message="tns:queryBalanceTotalExtendido"/>
      <output message="tns:queryBalanceTotalExtendidoResponse"/>
    </operation>
    <operation name="lTQueryUnitTotalExtendidaWS">
      <input message="tns:queryUnitTotalExtendida"/>
      <output message="tns:queryUnitTotalExtendidaResponse"/>
    </operation>
    <operation name="lTQueryUnitTotalExtendida4GWS">
      <input message="tns:queryUnitTotalExtendida4G"/>
      <output message="tns:queryUnitTotalExtendida4GResponse"/>
    </operation>
    <operation name="lTQryBolsasCompraPromoLineaWS">
      <input message="tns:qryBolsasCompraPromoLinea"/>
      <output message="tns:qryBolsasCompraPromoLineaResponse"/>
    </operation>
    <operation name="lTQueryConsumosICCAbonadoWS">
      <input message="tns:queryConsumosICCAbonado"/>
      <output message="tns:queryConsumosICCAbonadoResponse"/>
    </operation>
    <operation name="lTCambioPlanWS">
      <input message="tns:cambioPlan"/>
      <output message="tns:cambioPlanResponse"/>
    </operation>
    <operation name="lTQueryUnitTotalExtendidaFullWS">
      <input message="tns:queryUnitTotalExtendidaFull"/>
      <output message="tns:queryUnitTotalExtendidaFullResponse"/>
    </operation>   
  </portType>
  <binding name="PrepaidWavePortBinding" type="tns:PrepaidWavePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="lTQueryBalanceTotalExtendidaWS">
      <soap:operation soapAction="http://prepaidWave/lTQueryBalanceTotalExtendidaWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="lTQueryUnitTotalExtendidaWS">
      <soap:operation soapAction="http://prepaidWave/lTQueryUnitTotalExtendidaWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="lTQueryUnitTotalExtendida4GWS">
      <soap:operation soapAction="http://prepaidWave/lTQueryUnitTotalExtendida4GWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="lTQryBolsasCompraPromoLineaWS">
      <soap:operation soapAction="http://prepaidWave/lTQryBolsasCompraPromoLineaWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="lTQueryConsumosICCAbonadoWS">
      <soap:operation soapAction="http://prepaidWave/lTQueryConsumosICCAbonadoWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="lTCambioPlanWS">
      <soap:operation soapAction="http://prepaidWave/lTCambioPlanWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="lTQueryUnitTotalExtendidaFullWS">
      <soap:operation soapAction="http://prepaidWave/lTQueryUnitTotalExtendidaFullWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
   </binding>
  <service name="PrepaidWaveService">
    <port name="PrepaidWavePort" binding="tns:PrepaidWavePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>