BenePro/Resources/WSDLs/Recv.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="http://recv.ws.srv.promo.wom.smartdici/" name="Recv" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://recv.ws.srv.promo.wom.smartdici/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://recv.ws.srv.promo.wom.smartdici/" schemaLocation="Recv.xsd"/>
</xsd:schema>
</types>
<message name="aplicarPromocion">
<part name="parameters" element="tns:aplicarPromocion"/>
</message>
<message name="aplicarPromocionResponse">
<part name="parameters" element="tns:aplicarPromocionResponse"/>
</message>
<message name="PromoRecvException">
<part name="fault" element="tns:PromoRecvException"/>
</message>
<message name="notificarEvento">
<part name="parameters" element="tns:notificarEvento"/>
</message>
<message name="notificarEventoResponse">
<part name="parameters" element="tns:notificarEventoResponse"/>
</message>
<message name="llamarColaRecv">
<part name="parameters" element="tns:llamarColaRecv"/>
</message>
<message name="getPromosAplicables">
<part name="parameters" element="tns:getPromosAplicables"/>
</message>
<message name="getPromosAplicablesResponse">
<part name="parameters" element="tns:getPromosAplicablesResponse"/>
</message>
<message name="monitor">
<part name="parameters" element="tns:monitor"/>
</message>
<message name="monitorResponse">
<part name="parameters" element="tns:monitorResponse"/>
</message>
<portType name="Recv">
<operation name="aplicarPromocion">
<input message="tns:aplicarPromocion"/>
<output message="tns:aplicarPromocionResponse"/>
<fault message="tns:PromoRecvException" name="PromoRecvException"/>
</operation>
<operation name="notificarEvento">
<input message="tns:notificarEvento"/>
<output message="tns:notificarEventoResponse"/>
<fault message="tns:PromoRecvException" name="PromoRecvException"/>
</operation>
<operation name="llamarColaRecv">
<input message="tns:llamarColaRecv"/>
</operation>
<operation name="getPromosAplicables">
<input message="tns:getPromosAplicables"/>
<output message="tns:getPromosAplicablesResponse"/>
</operation>
<operation name="monitor">
<input message="tns:monitor"/>
<output message="tns:monitorResponse"/>
</operation>
</portType>
<binding name="RecvPortBinding" type="tns:Recv">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="aplicarPromocion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PromoRecvException">
<soap:fault name="PromoRecvException" use="literal"/>
</fault>
</operation>
<operation name="notificarEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PromoRecvException">
<soap:fault name="PromoRecvException" use="literal"/>
</fault>
</operation>
<operation name="llamarColaRecv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getPromosAplicables">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="monitor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Recv">
<port name="RecvPort" binding="tns:RecvPortBinding">
<soap:address location="http://10.120.157.231:9003/producer/BenePro/Services/SmartPromociones-war/Recv"/>
</port>
</service>
</definitions>